@model List<producto>

@if (Model.Any())
{

    <div class="productos">
        @foreach (var producto in Model)
        {
            <a href="@Url.Action("Detalle", "Productos", new { id = producto.IdProducto })" class="producto">
                <div>
                    @if (string.IsNullOrWhiteSpace(@producto.Img))
                    {
                        <img src="@Url.Content("~/imagenes/default.png")" alt="" class="zoom">
                    }
                    else
                    {
                        <img src="@producto.Img" alt="" class="zoom">
                    }
                    <section class="color-white background-v">
                        <h3 class="Chonburi">@producto.Nombre</h3>
                        <p class="Chonburi">$@producto.Precio</p>
                    </section>
                </div>
            </a>
        }
    </div>

    <!-- Controles de paginación -->
    <div class="paginacion">
        @if ((int)ViewData["PaginaActual"] > 1)
        {
            <a href="?nombre=@ViewData["NombreBuscado"]&pagina=@((int)ViewData["PaginaActual"] - 1)"><img
                    src="@Url.Content("~/imagenes/flecha-anterior.png")" alt=""></a>
        }

        <span>Página @ViewData["PaginaActual"] de @ViewData["TotalPaginas"]</span>

        @if ((int)ViewData["PaginaActual"] < (int)ViewData["TotalPaginas"])
        {
            <a href="?nombre=@ViewData["NombreBuscado"]&pagina=@((int)ViewData["PaginaActual"] + 1)"><img
                    src="@Url.Content("~/imagenes/flecha-siguiente.png")" alt=""></a>
        }
    </div>
}
else
{
    <div class="alert alert-warning" style="width: 50%; margin: 1em auto !important;text-align: center;">
        <p>No hay resultados para esta busqueda.</p>
    </div>
}