@model producto

@{
    string numero = "5493813999608";
    string mensaje = $"Hola, me gustaria comprar el producto {Model.Nombre}";
    string mensajeEncoded = Uri.EscapeDataString(mensaje);
}

<section class="detalle">
    <figure class="img">
        @if (string.IsNullOrWhiteSpace(@Model.Img) || @Model.Img == "default")
        {
            <img src="@Url.Content("~/imagenes/default.png")" alt="" class="zoom">
        }
        else
        {
            <img src="@Model.Img" alt="" class="zoom">
        }
    </figure>
    <article>
        <h2 class="Chonburi">@Model.Nombre</h2>
        <p class="Chonburi">$@Model.Precio</p>
        <a href="https://wa.me/@(numero)?text=@(mensajeEncoded)" target="_blank" class="link-compra">
            <figure>
                <figcaption>Comprar por Whatsapp. Click aqui!</figcaption>
                <img src="@Url.Content("~/imagenes/whatsappLogo.jpg")" alt="">
            </figure>
        </a>
        <h3 class="Chonburi">Descripcion</h3>
        <p>@Model.Descripcion</p>
        @if (ViewData["EsAdmin"] is not null && (bool)ViewData["EsAdmin"])
        {
            <a asp-action="EliminarProducto" asp-route-id="@Model.IdProducto" class="btn btn-danger btn-sm">Eliminar
                Producto</a>
            <a asp-action="OcultarProducto" asp-route-id="@Model.IdProducto" class="btn btn-warning btn-sm">Ocultar/Mostrar
                Producto</a>
            @if (@Model.Visible)
            {
                <button class="btn btn-sucess btn-sm">PUBLICADO</button>
            }
            else
            {
                <button class="btn btn-sucess btn-sm">OCULTO</button>
            }

        }

    </article>
</section>