<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoAMY</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/ProyectoAMY.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="flex-grow: 0;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="menu-item">
                            <form class="d-sm-none d-xs-flex" asp-controller="Productos" asp-action="Buscar"
                                method="get">
                                <input class="" type="search" placeholder="Buscar producto" aria-label="Buscar"
                                    id="nombre" name="nombre" required>
                                <button class="btn btn-outline-success" type="submit"><img
                                        src="@Url.Content("~/imagenes/buscar.png")" alt="" class="buscador"></button>
                            </form>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link text-dark nav-inicio" asp-area="" asp-controller="Productos"
                                asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link text-dark nav-inicio" asp-area="" asp-controller="Productos"
                                asp-action="ListaProductos">Productos</a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link text-dark nav-inicio" asp-area="" asp-controller=""
                                asp-action="">Contacto</a>
                        </li>
                        @if (ViewData["EsAdmin"] is not null && (bool)ViewData["EsAdmin"])
                        {
                            <li class="nav-item menu-item">
                                <a class="nav-link text-dark nav-inicio" href="@Url.Action("AltaProducto", "Productos")">Alta Producto</a>
                            </li>
                        }
                    </ul>
                </div>

                <a class="navbar-brand d-none d-sm-flex" asp-area="" asp-controller="Productos" asp-action="Index"><img
                        src="@Url.Content("~/imagenes/Logo.jpg")" alt="" class="LogoEmprendimiento"></a>

                <form class="d-none d-sm-flex" asp-controller="Productos" asp-action="Buscar" method="get">
                    <input class="" type="search" placeholder="Buscar producto" aria-label="Buscar" id="nombre"
                        name="nombre" required>
                    <button class="btn btn-outline-success" type="submit"><img
                            src="@Url.Content("~/imagenes/buscar.png")" alt="" class="buscador"></button>
                </form>
            </div>

        </nav>
        <a class="navbar-brand d-sm-none d-xs-flex" asp-area="" asp-controller="Productos" asp-action="Index"><img
                src="@Url.Content("~/imagenes/Logo.jpg")" alt="" class="LogoEmprendimiento"></a>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <section>
            <ul>
                <li>
                    <a href="https://wa.me/3813999608" target="_blank"><img
                            src="@Url.Content("~/imagenes/whatsappLogo.jpg")" alt=""></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/amy.bazarydeco/?utm_source=ig_web_button_share_sheet"
                        target="_blank"><img src="@Url.Content("~/imagenes/instagramLogo.jpg")" alt=""></a>
                </li>
            </ul>
            <figure class="ubi-footer">
                <img src="@Url.Content("~/imagenes/ubicacion.png")" alt="">
                <figcaption>Alderetes, Tucuman.</figcaption>
            </figure>
            <p>&copy; 2025 AMY. Todos los derechos reservados.</p>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
